<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Itsmyparty</title>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  </head>
  <body class='container'>
    <p> Hi <%= @personname %>
    <p>You are invited to my event on December 15!</p>
    <form action='register' method='post'>
    <input type=hidden name=person value= "<%= guid %>" />
       Attending? <% Choices.each do |id, text| %>
          <li>
            <label class='radio'>
              <input type='radio' name='presence' value='<%= id %>' id='vote_<%= id %>' />
              <%= text %>
            </label>     
          </li>
        <% end %>   
      </ul>   
      <button type='submit' class='btn btn-primary'>Save</button>
    </form>
  </body>
</html>
